<!DOCTYPE html>
<html>
<head>
    <title>КАТАСТРОФИЧЕСКИЙ ТУПИЗМ</title>
    <link href='//static.localhost:3000/css/rzslider.min.css' rel="stylesheet">
    <link href='//static.localhost:3000/lib/bootstrap.min.css' rel="stylesheet">
    <link href='//static.localhost:3000/css/style.css' rel='stylesheet' type='text/css'>
    <link href="//static.localhost:3000/lib/select.min.css" rel='stylesheet' type='text/css'>

    <script  src="//static.localhost:3000/lib/jquery-2.1.4.min.js"></script>
    <script src="//static.localhost:3000/lib/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-6jyNT5skhCvTEdNYJteaA8ALzzIpikA"></script>
    <!--<script  src="//vk.com/js/api/openapi.js?116"></script>-->
    <script  src="//static.localhost:3000/lib/angular.min.js"></script>
    <script  src="//static.localhost:3000/lib/angular-sanitize.js"></script>
    <script  src="//static.localhost:3000/lib/rzslider.min.js"></script>
    <script  src="//static.localhost:3000/lib/underscore-min.js"></script>
    <script  src="//static.localhost:3000/lib/angular-ui-router.min.js"></script>
    <script  src="//static.localhost:3000/lib/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script  src="//static.localhost:3000/lib/ng-file-upload.js"></script>
    <script  src="//static.localhost:3000/lib/exif.js"></script>
    <script  src="//static.localhost:3000/lib/watermark.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script  src="//static.localhost:3000/lib/feathers-client.js"></script>
    <script  src="//static.localhost:3000/lib/select.min.js"></script>



    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
</head>
<body ng-app="MainApp" ng-controller="BodyController as BodyC">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Катастрофический тупизм</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a ng-class="BodyC.getActiveClassIfLocation('/about')" href="/about">Кто мы?</a></li>
                <li><a href="https://docs.google.com/forms/d/1ihmKrdbwRVVNqekLUu0WMbVkLRSafhPsTkHpP815-KI/viewform" target="_blank">Дать совет</a></li>
                <li><a ng-class="BodyC.getActiveClassIfLocation('/complains')" href="/complains">Рассмотреть жалобы</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right ng-cloak">
                <li ng-if="BodyC.getUser() === null && BodyC.getUser() !== undefined">
                    <a href="#" ng-click="BodyC.login()"><span class="glyphicon glyphicon-user"></span> Авторизоваться</a>
                </li>
                <li ng-if="BodyC.getUser()">
                    <a style="padding:0;">
                        <span ng-bind="BodyC.formatUser().displayName"></span>
                          <img ng-src="{{BodyC.formatUser().avatar || ' '}}" style="display:inline; width:50px">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid body-container">
    <div class="row h-100">
        <div class="col-lg-8 col-md-8 map-container">
            <div id="map-canvas">
            </div>

            <a id="to-idiotisms" href="#idiotisms" class="btn btn-success btn-block to-idiotism">Перейти к
                тупизмам</a>
            <div class="" ui-view="viewLeft"></div>
        </div>

        <div class="col-lg-4 col-md-4 right-view-container">
            <div class="h-100" ui-view="viewRight"></div>
        </div>
    </div>
</div>
<script  src="//static.localhost:3000/js/mainApp.js"></script>
<script  src="//static.localhost:3000/js/Routing.js"></script>
<script  src="//static.localhost:3000/js/miniFactories/hosts.js"></script>
<script  src="//static.localhost:3000/js/miniFactories/feathers.js"></script>
<script  src="//static.localhost:3000/js/Factories/GoogleMapsFactory.js"></script>
<script  src="//static.localhost:3000/js/Factories/StupidityFactory.js"></script>
<script  src="//static.localhost:3000/js/Factories/ExifFactory.js"></script>
<script  src="//static.localhost:3000/js/Factories/VKFactory.js"></script>
<script  src="//static.localhost:3000/js/Factories/StupiditySettingsFactory.js"></script>
<script  src="//static.localhost:3000/js/Factories/Users/UsersFactory.js"></script>
<script  src="//static.localhost:3000/js/Factories/Complains/ComplainFactory.js"></script>
<script  src="//static.localhost:3000/js/Directives/StupidityForm/StupidityForm.js"></script>
<script  src="//static.localhost:3000/js/Controllers/BodyController.js"></script>
<script  src="//static.localhost:3000/templates/CurrentStupidityImageController.js"></script>
<script  src="//static.localhost:3000/templates/StupidityListController.js"></script>
<script  src="//static.localhost:3000/templates/AboutController.js"></script>
<script  src="//static.localhost:3000/js/Factories/modals/LoginModalFactory.js"></script>
<script  src="//static.localhost:3000/templates/modals/LoginModalController.js"></script>
<script  src="//static.localhost:3000/js/Factories/modals/ComplainModalFactory.js"></script>
<script  src="//static.localhost:3000/templates/modals/ComplainModalController.js"></script>
</body>
</html>
