html, body {
	height: 100%;
	width: 100%;
	margin: 0; 
	padding: 0;
	overflow: hidden;
}

@media(min-width:992px) {
	.right-view-container {
		overflow-y: scroll;
	}
	.to-idiotism {
		display: none;
	}
}

.h-100{
	height: 100%;
}
.w-100{
	width: 100%;
}

.mt-10{
	margin-top:10px;
}

.opacity-hover{
	opacity: 0.25;
}

.opacity-hover:hover{
	opacity: 1;
}

.text-container{
	padding: 0 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 80%;
	max-width: 92%;
	background-color: #fff;
	border: 1px solid #ddd;
}

#map-canvas {
	height: 100%;
	width: 100%;
}
 #map-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	 top:0;
}

.to-idiotism {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 15;
}

#map-overlay {
	background-color: rgba(0,0,0,0.5);
	z-index: 10;
}

.outer-center {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle-center {
    display: table-cell;
    vertical-align: middle;
    max-width: 100%;
}

.inner-center {
    margin-left: auto;
    margin-right: auto;

    max-width: 100%;
}

#full-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 80%;
	max-width: 80%;
}

@media screen and (max-width: 800px){
	#full-image {
		max-height: 100%;
		max-width: 100%;
	}
}

#updates {
	height: 100%;
}

.thumbnail, .votes, .show-comments {
	margin-bottom: 10px;
}

.show-comments {
	width: 100%;
}

.vk-comments {
	width: 100% !important;
}

.vk-comments > iframe {
	width: 100% !important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
	padding-top: 28px;
	font-size: 13pt;
	height: 80px;
}

#image-info > .list-group {
	margin-top: 20px;
}

#add-idiotism-li p {
	white-space: pre;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
	width: 100%;
	height: 100%;
}

.fileUpload div.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	width: 100%;
	height: 100%;
}

#uploaded-image-preview {
	width: 100%;
}

#location-preview {
	height: 300px;
	width: 100%;
}


.idiotism-text {
	padding: 0 10px !important;
}

.level-selection > ul, .category-selection > ul {
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
}

.level-selection > ul > li, .category-selection > ul > li {
	padding: 10px 0;
}

#image-info li .glyphicon {
	font-size: 40px;
}


.btn-default.success-select.active, .btn-default.success-select:active {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.btn-default.success-select.active:hover {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}

p:not(.idiotism-text p){
	white-space: pre;
}

.stupidity-container{
	background-color: #eee;
	height:100%;
}

.map-container{
	height: 100%;
	padding: 0;
}

.right-view-container{
	height:100%;
	padding: 0;
}

.category-icon{
	color:white;
	font-size: 20px;
	position:relative;
	width: 39px; height: 39px;
	border-radius: 50%;;
}

.category-icon.yellow{
	background-image: linear-gradient(120deg, #f2e78f, #ccc066);
}
.category-icon.orange{
	background-image: linear-gradient(120deg, #ffb309, #d89500);;
}
.category-icon.red{
	background-image: linear-gradient(120deg, #fb7468, #e34438);
}
.category-icon .glyphicon{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.navbar-nav a.active{
	border-bottom: 2px solid black;
	padding-bottom: 14px;
}

/* BOOTSTRAP */
.navbar{
	margin-bottom:0px;
}

.list-no-radius .list-group-item:first-child {
	border-top-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
}

.list-no-radius .list-group-item:last-child {
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.stupidity-container.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}
.container-fluid.body-container{
	height: calc(100% - 52px);
}
