<div class="row">
    <form class="col-md-12" novalidate name="newStupidityForm">
        <div ng-show="showUploadButton" class="fileUpload btn btn-danger btn-block ng-disabled"
             ng-disabled="!uploadPossible && !getUser()" id="upload-file-btn">
                            <span>
                                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                                &nbsp;
                                Поделиться тупизмом
                                &nbsp;
                                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                            </span>

            <div class="upload" ng-disabled="!uploadPossible && !getUser()"
                 ngf-select="fileSelected($file)"
                 ng-model="file" name="file" ngf-pattern="'image/*'"
                 accept="image/*" ngf-max-size="20MB" ngf-min-height="100"
                 ngf-capture="'camera'"></div>
        </div>

        <div id="image-info" ng-show="!showUploadButton" class="ng-cloak">
            <div class="btn btn-danger btn-block" id="upload-file-cancel"
                 ng-click="cancelFileUpload()">
                                <span>
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    &nbsp;
                                    Я передумал
                                    &nbsp;
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </span>
            </div>

            <ul class="list-group">
                <li class="list-group-item">
                    <img ngf-src="file" id="uploaded-image-preview"/>
                </li>
                <li class="list-group-item category-selection">
                    <ul ng-repeat="categoryList in stupidityCategoryLists"
                        class="btn-group btn-group-justified">
                        <label ng-repeat="category in categoryList"
                               class="btn btn-default btn-category success-select"
                               ng-model="stupidity.category"
                               uib-btn-radio="category.value">
                            <span class="glyphicon {{category.icon}}" aria-hidden="true"></span>

                            <p ng-bind="category.text"></p>
                        </label>
                    </ul>
                </li>
                {{levell}}
                <li class="list-group-item level-selection">
                    <ul class="btn-group btn-group-justified">
                        <label ng-repeat='level in stupidityLevels'
                               class="btn btn-default btn-category success-select"
                               ng-model="stupidity.severity"
                               uib-btn-radio="level.value">
                            <span class="glyphicon {{level.icon}}" aria-hidden="true"></span>
                            <p ng-bind="level.text"></p>
                        </label>
                    </ul>
                </li>
                <li class="list-group-item">
                            <textarea id="user-comment" class="form-control" rows="4" maxlength="300"
                                      placeholder="Ваш комментарий (максимум 300 символов)..."
                                      ng-model="stupidity.comment"></textarea>
                </li>
            </ul>

            <div id="btn-submit" class="btn btn-success btn-block" type="submit"
                 ng-click="submitForm(newStupidityForm)">
                Отправить
            </div>
        </div>
    </form>
</div>