<div id="map-overlay" ng-click="AboutC.hide()">
    <div class="outer-center">
        <div class="middle-center">
            <div class="inner-center">
                <div class="text-container">
                            <h4>О чем этот сайт?</h4>

                            <p>CaStu пытается решить огромную социальную проблему, которая существует в постсоветских странах.
                                Равнодушие. Очень маленькие зоны комфорта людей - как только люди покидают свои дома, мысленно
                                они
                                входят в чужой мир, о котором им нет нужды заботиться: они бросают мусор везде, строят уродливые пристройки к зданиям, чтобы увеличить свое
                                жизненное пространство и уничтожить общественную собственность, намеренно или нет; они просто не
                                видят никаких проблем в этом. На своих рабочих местах, они не заботятся о результате, яркий тому
                                пример - строительство дорог и тротуаров, которые разрушаются при нормальном использовании в
                                течение
                                нескольких месяцев. Они не включают свой мозги, делая что-либо, они просто получают задание,
                                выполняют его в той или иной форме (даже если он не вписывается в существующую инфраструктуру),
                                и
                                получают свои деньги. Эта социальная проблема не поддается измерению, и это очень важно.
                                Безразличие
                                приводит к увеличению безразличия, создавая петлю обратной связи муниципального уничтожения и
                                социального вырождения.</p>

                            <h4>Какова наша цель?</h4>

                            <p>Мы - платформа, которая поставляет знания. Основная цель
                                состоит в
                                том, чтобы дать людям понять, что они способны изменить мир вокруг себя.</p>

                            <h4>Что считается тупизмом?</h4>

                            <p>Тупизмом может быть все, что выглядит ужасно, смешно или глупо, но могло бы быть сделано лучше
                                если бы человек, который создавал этот тупизм, в первую очередь не
                                был
                                ленивым или глупым.</p>

                            <h4>Какие есть разделы на сайте?</h4>

                            <p>В разделе слева карта, на которой все тупизмы отмечены с помощью маркера. Справа есть раздел со
                                всеми тупизмами, где пользователи могут публиковать свои тупизмы, ставить лайки и
                                комментировать.
                                Клик по маркеру открывает тупизм в полном размере по центру экрана.</p>

                            <h4>Как поделиться тупизмом?</h4>

                            <p>Нужно нажать на большую красную кнопку "Поделиться тупизмом".
                                Далее,
                                появится форма для загрузки изображения. После загрузки изображения, вам нужно выбрать место
                                тупизма
                                на карте и выбрать подходящие категории для него. После нажатия кнопки “Отправить”,
                                тупизм
                                будет загружен в ленту.</p>
                </div>
            </div>
        </div>
    </div>
</div>