<div id="map-overlay" ng-click="CurStuImageC.hide()">
    <div class="outer-center">
        <div class="middle-center">
            <div class="inner-center">
                <img id="full-image" ng-src="{{CurStuImageC.stupidity.image}}"/>
            </div>
        </div>
    </div>
</div>