<div class="stupidity-container container-fluid">
    <ul id="idiotisms" class="list-group list-no-radius">
        <li class="list-group-item" id="add-idiotism-li">
            <stupidity-form stupidities="StuLiC.stupidities"></stupidity-form>
        </li>
        <li class="idiotism list-group-item" ng-repeat="stupidity in StuLiC.stupidities">
            <ng-include src="StuLiC.stupidityTemplate"></ng-include>
        </li>
    </ul>
</div>