<div class="row">

    <div class="clearfix">
        <div class="col-sm-2">
            <div class='category-icon' ng-class="StuLiC.getStupidityClasses(stupidity)">
                <span class="glyphicon" ng-class="StuLiC.getGlyphiconClass(stupidity)" aria-hidden="true"></span>
            </div>
        </div>
        <div class="col-sm-5">
            21.02.2016 в 11:40
        </div>
        <div class="col-sm-5">
            <span class="pull-right">100 комментариев</span>
        </div>
    </div>
    <div class="clearfix mt-10"></div>
    <div class="col-sm-6">
        <a href='/stupidity/{{stupidity._id}}' class="thumbnail">
            <img ng-src="{{stupidity.image}}"/>
        </a>
    </div>
    <div class="col-sm-6">
        <p class="text-justify" ng-bind="stupidity.comment">

        </p>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-6">
        <div class="btn-group" uib-dropdown auto-close="outsideClick">
            <button type="button" class="btn btn-default succcess-select">
                Проголосовать <span class="glyphicon glyphicon-thumbs-up"></span>
            </button>
            <button type="button" class="btn btn-default" uib-dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only">Split button!</span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                <li role="menuitem">
                    <rzslider
                            rz-slider-model="stupidity.voteCount"
                            rz-slider-options="StuLiC.sliderOptions"></rzslider>
                    <input>
                    <button type="button" class="btn btn-success">ОК</button>
                    <!--<div class="row">-->
                    <!--<div class="col-md-4"></div>-->
                    <!--<div class="col-md-4"><input class="w-100"></div>-->
                    <!--<div class="col-md-4"><button type="button" class="btn btn-success">ОК</button></div>-->
                    <!--</div>-->
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <button ng-click="StuLiC.complainOn(stupidity)" type="button" class="btn btn-warning  pull-right opacity-hover">Пожаловаться <span class="glyphicon glyphicon-warning-sign"></span></button>
    </div>

    <!--<div class="col-sm-12">-->
    <!--<div ng-click='StuLiC.showComments(stupidity)' ng-show='!stupidity.showComments' class="show-comments btn btn-info">Показать комментарии</div>-->
    <!--<div ng-show='stupidity.showComments' class="vk-comments" id="castu-{{stupidity._id}}-comment"></div>-->
    <!--</div>-->
</div>