<div class="modal-header">
    <div class="clearfix">
        <div class="pull-left">
            <h3 class="modal-title">Пожаловаться</h3>
        </div>
        <div class="pull-right">
            <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
        </div>
    </div>

</div>
<div class="modal-body">
    Тип жалобы
    <!--<ui-select on-select="vm.onTypeSelected($item, $model)" search-enabled="false" ng-model="vm.selected.selected">-->
        <!--<ui-select-match placeholder="Выберите тип">-->
            <!--<span ng-bind="$select.selected.name"></span>-->
        <!--</ui-select-match>-->
        <!--<ui-select-choices repeat="item in vm.complainTypes track by $index">-->
            <!--<span ng-bind="item.name"></span>-->
        <!--</ui-select-choices>-->
    <!--</ui-select>-->
    <!--<ui-select ng-model="vm.selectedItem" search-enabled="false" theme="bootstrap">-->
        <!--<ui-select-match>-->
            <!--<span ng-bind="$select.selected.name"></span>-->
        <!--</ui-select-match>-->
        <!--<ui-select-choices repeat="item in vm.complainTypes">-->
            <!--<span ng-bind="item.name"></span>-->
        <!--</ui-select-choices>-->
    <!--</ui-select>-->
    <select name="type"
            ng-model="vm.selectedItem"
            ng-change="onTypeSelected(vm.selectedItem)"
            ng-options="type.value as type.name for type in vm.complainTypes">
    </select>
    <div class="clearfix mt-10"></div>
    Мне лень писать вручную. <input type="checkbox" ng-model="vm.lazy">
    <div class="clearfix mt-10"></div>
    <textarea ng-show="!vm.lazy" class="w-100" ng-model="vm.comment">
    </textarea>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>