<div class="modal-header">
    <div class="clearfix">
        <div class="pull-left">
            <h3 class="modal-title">Авторизоваться</h3>
        </div>
        <div class="pull-right">
            <button type="button" class="close" ng-click="LoginC.cancel()" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
        </div>
    </div>

</div>
<div class="modal-body">
    <button class="btn btn-primary" type="button" ng-click="LoginC.vk()">vk.com</button>
    <button class="btn btn-info" type="button" ng-click="LoginC.facebook()">facebook.com</button>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="LoginC.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="LoginC.cancel()">Cancel</button>
</div>